.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  p{
    font-size: 19px;
    font-weight: 300;
    color: $secondary;
    text-align: center;
    @include respond-to(xs){
      font-size: 17px;
    }
    @include respond-to(sm){
      font-size: 17px;
    }
  }
  strong{
    font-weight: $bold;
  }
  a{
    color: $secondary;
  }
}

.info-content{
  width: 100%;
}

.info-grid{
  @include BoxShadow(1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 40px 100px;
  border-radius: 50px;

  @include respond-to(xs){
    @include BoxShadow(3);
  }

  @include respond-to(sm){
    @include BoxShadow(3);
  }

  @include respond-to(xs){
    grid-template-columns: 100%;
    margin: 30px 20px 10px 20px;
    gap: 0px;
  }
  @include respond-to(sm){
    grid-template-columns: 100%;
    margin: 30px 20px 10px 20px;
    gap: 0px;
  }

  @include respond-to(md){
    margin: 40px 50px 20px 50px;
    gap: 20px;
  }

  .info-video{
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    width: 100%;
    
    @include respond-to(xs){
      height: 190px;
    }
    @include respond-to(sm){
      height: 190px;
    }
  
    video {
      position: relative;
      left: 0;
      top: 0;
      opacity: 1;
      width: 100%;
    }
  }
}

.info-form{
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond-to(xs){
    padding: 30px 0;
  }
  @include respond-to(sm){
    padding: 30px 0;
  }

  form{
    width: 80%;
  }
}

.clients-grid{
  display: grid;
  grid-template-columns: 13% 87%;

  @include respond-to(xs){
    grid-template-columns: 100%;
  }

  @include respond-to(sm){
    grid-template-columns: 100%;
  }
  @include respond-to(md){
    grid-template-columns: 100%;
  }
  
}

.clients-imgs{
  display: grid;
  grid-template-columns: repeat(5,1fr);

  @include respond-to(xs){
    grid-template-columns: 100%;
    margin-top: 30px;
  }

  @include respond-to(sm){
    grid-template-columns: repeat(2,1fr);
    margin-top: 30px;
  }
  @include respond-to(md){
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
  }

  @include respond-to(lg){
    grid-template-columns: repeat(3,1fr);
  }

  .clients-img{

    @include respond-to(xs){
      @include flexcenter();
      margin-bottom: 20px;
    }
    @include respond-to(sm){
      @include flexcenter();
      margin-bottom: 20px;
    }
    @include respond-to(md){
      @include flexcenter();
      margin-bottom: 20px;
    }
    @include respond-to(lg){
      @include flexcenter();
      margin-bottom: 20px;
    }

    &-size {
      width: 200px;

      @include respond-to(xs){
        width: 280px;
      }
      @include respond-to(sm){
        width: 260px;
      }
      @include respond-to(md){
        width: 310px;
      }
    }
  }
}


.main-cta{
  .custom-card {
    padding: 30px;
    width: 90%;

    p{
      margin-bottom: 0;
      font-weight: $bold;
    }
  }
}
.cta-slider{

  .slick-dots{
    bottom: -40px;
    li{
      opacity: 0.5;
      @include size(15px,15px);

      &.slick-active{
        opacity: 1;
      }
      button{
        @include size(15px,15px);
        background-color: $gray;
        border-radius: 50%;
        &:before{
          @include size(15px,15px);
          content: '';
        }
      }
    }
  }
}


.main-benefits{
  .custom-card {
    padding: 20px;
    transition: 0.3s ease-in-out;
    border-radius: 30px;
    &:hover{
      @include BoxShadow(2);
      transition: 0.3s ease-in-out;
      background-color: $white;
    }

    p{
      margin-bottom: 0;
      font-size: 19px;
      font-weight: $bold;

      @include respond-to(md){
        font-size: 18px;
      }
    }
  }
}


.main-why {
  .custom-card {
    padding: 30px;
    transition: 0.3s ease-in-out;
    @include respond-to(xs){
        padding: 0px;
    }
  
    @include respond-to(sm){
        padding: 0px;
    }
   

    &-icon {
      background-color: $white;
      border-radius: 10px;
      @include size(40px,40px);
      @include flexcenter();
   
    }
  }
}

.main-results{
  position: relative;
  .img-absolute {
    object-fit: cover;
    width: 100%;
    position: absolute;
    left: -3%;
  }
  .main-buttons {
    @include respond-to(md){
      a{
        width: 100%;
        justify-content: center;
        height: 45px;

        &:nth-child(2){
          margin-left: 0;
          margin-top: 15px;
        }
      }
    }
    @include respond-to(lg){
      a{
        width: 100%;
        justify-content: center;
        height: 45px;

        &:nth-child(2){
          margin-left: 0;
          margin-top: 15px;
        }
      }
    }
  }

}

.main-methods {
  .custom-card {
    padding: 30px;
    transition: 0.3s ease-in-out;

    @include respond-to(xs){
       padding: 20px;
    }
  
    @include respond-to(sm){
       padding: 20px;
    }

    @include respond-to(md){
      padding: 20px 0;
   }
    
    &-count{
      display: flex;
      justify-content: center;
      position: relative;
      span {
        font-size: 50px;
        color: $primary;
        font-weight: $extrabold;

      }
      .img-rotate{
       transform: rotate(90deg);
       position: absolute;
       right: 25%;

       @include respond-to(md){
         right: 6%;
       }
      }
    }
  }
}

// RESULTS
.result-info {
  text-align: left;
}

.result-img-content{
  @include size(460px,480px);

  @include respond-to(xs){
    @include size(315px,330px);
    margin-top: 30px;
  }

  @include respond-to(sm){
    @include size(460px,480px);
    margin-top: 30px;
  }

  @include respond-to(md){
    @include size(350px,360px);
  }

  img{
    height: 100%;
    object-fit: contain;

    @include respond-to(xs){
      object-fit: initial;
    }
    @include respond-to(sm){
      object-fit: initial;
    }
    
  }
}

.main-success {
  .main-buttons{
    margin-top: 60px;
    @include respond-to(xs){
       margin-top: 20px;
    }
  
    @include respond-to(sm){
       margin-top: 20px;
    }
  }
}
// ABOUT
.main-about{
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  .custom-card {
    padding: 20px;

    &-img{
      width: 60px;
    }

    p{
      font-size: 13px;
      
    }
  }
}