// Medias querys
$breakpoints: (
  "xs": "(min-width: 0px) and (max-width: 575px)",
  "sm": "(min-width: 576px) and (max-width: 767px)",
  "md": "(min-width: 768px) and (max-width: 991px)",
  "lg": "(min-width: 992px) and (max-width: 1199px)",
  "xl": "(min-width: 1200px)",
  "wecan":
    "(min-width: 1440px) and (max-width: 1440px) and (min-height: 900px) and (max-height:900px)",
) !default;

// Fonts
$font: "Gilroy", sans-serif;
$light: 300;
$regular: 500;
$medium: 600;
$bold: 800;
$extrabold: 900;

// Colors
$primary: #1BDB74;
$secondary: #192030;
$lightgray: #f7f7f7;
$white: #fff;
$black: #000;
$shadowColor: #dee2e6;
$grayBorder: #D8D8D8;

// Utils
$radius: 10px;
